<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit) ="loginUser()">
        <ion-item>
          <ion-label> Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label> Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button margin-top expand="full" (click)="loginUser()" [disabled]="loginForm.invalid"> Login</ion-button>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
